$cBlack :rgb(35, 35, 35);
$cWhite: white;
$cBlue: #00a0db;
$cShadowBlack : rgb(50, 50, 50);
$cPink: rgb(255, 192, 203);
$cRed: red;
$cTextBlue: rgb(12, 92, 118);

$cBGOrange: #FF6200;
$cBGAbout: #1687b0;
$cBGColor:  #147080;
$cBGlightBlue: #acf5ff;